# ANIME RECOMMENDER SYSTEM - PREPROCESSING - ANIME - STEP 3 - BATCH

In [1]:
# basic library
import numpy as np 
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
import pickle
from PIL import Image

## append df to one and run PCA for dimensionality reduction

In [2]:
bat = 23

In [3]:
pkl_path = './dataset/processed_dataset/preprocessing/img_batch/img_batch_p_' + str(0) + '.pkl'
file = open(pkl_path,'rb')
arr = pickle.load(file)

In [4]:
arr.shape

(1000, 512)

In [5]:
for i in range (bat):
    pkl_path = './dataset/processed_dataset/preprocessing/img_batch/img_batch_p_' + str(i  + 1) + '.pkl'
    file = open(pkl_path,'rb')
    arr1 = pickle.load(file)
    arr = np.append(arr, arr1, axis=0)

In [6]:
arr.shape

(23759, 512)

In [7]:
from sklearn import decomposition
pca = decomposition.PCA()
pca.n_components = 100
pca_result = pca.fit_transform(arr)
print("reduced shape = ", pca_result.shape)

reduced shape =  (23759, 100)

In [8]:
df = pd.DataFrame(pca_result)

In [9]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,3.273427,1.566571,0.539348,-1.977044,-1.888914,2.354293,-1.098108,4.170927,-1.936835,0.828221,...,0.651036,-0.428850,-0.586569,0.925560,-1.964622,-0.970371,0.213366,-0.520931,-0.896485,-0.269872
1,7.333735,2.908402,1.041525,-2.927655,-1.980661,-0.968097,-0.069447,1.536192,6.334116,-0.508025,...,-0.948363,1.002919,0.806524,1.375609,-0.375893,-0.134303,-0.088559,1.161609,-0.753702,-0.400292
2,1.498634,0.538876,2.156573,0.894911,2.690337,5.276897,-0.873590,0.021110,-1.944009,-0.328068,...,0.289755,-0.276469,0.674281,1.077837,0.495116,-0.560726,0.442056,0.553202,-0.338308,0.016804
3,-3.244685,-1.256611,-1.768722,2.788105,2.421032,0.288372,-1.305222,0.321078,0.857259,0.995860,...,0.406900,0.364290,-0.656253,-1.027431,-0.039209,0.539736,0.081990,1.371986,0.919015,-0.742735
4,-1.026348,-1.771378,0.555552,-0.084054,0.778550,-2.426311,-3.010407,1.409985,-0.657939,-0.481657,...,0.425355,-0.761718,0.765218,-0.237232,-0.479089,-0.274400,-1.450904,0.010418,0.894968,0.124392

## join img_df to get anime_id

In [10]:
pkl_path = './dataset/processed_dataset/preprocessing/img_batch/img_batch_' + str(0) + '.pkl'
file = open(pkl_path,'rb')
img_df = pickle.load(file)
img_df = img_df.drop(['images'], axis=1)

In [11]:
for i in range (bat):
    pkl_path = './dataset/processed_dataset/preprocessing/img_batch/img_batch_' + str(i  + 1) + '.pkl'
    file = open(pkl_path,'rb')
    img_df1 = pickle.load(file)
    img_df1 = img_df1.drop(['images'], axis=1)
    img_df = img_df.append(img_df1)

In [12]:
img_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23759 entries, 0 to 23758
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  23759 non-null  object
dtypes: object(1)
memory usage: 185.7+ KB

In [13]:
img_df['anime_id'] = img_df['anime_id'].astype(str).astype(int)

In [14]:
img_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23759 entries, 0 to 23758
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  23759 non-null  int32
dtypes: int32(1)
memory usage: 92.9 KB

In [15]:
img_df = img_df.join(df)
img_df.head()

,anime_id,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,1,3.273427,1.566571,0.539348,-1.977044,-1.888914,2.354293,-1.098108,4.170927,-1.936835,...,0.651036,-0.428850,-0.586569,0.925560,-1.964622,-0.970371,0.213366,-0.520931,-0.896485,-0.269872
1,100,7.333735,2.908402,1.041525,-2.927655,-1.980661,-0.968097,-0.069447,1.536192,6.334116,...,-0.948363,1.002919,0.806524,1.375609,-0.375893,-0.134303,-0.088559,1.161609,-0.753702,-0.400292
2,1000,1.498634,0.538876,2.156573,0.894911,2.690337,5.276897,-0.873590,0.021110,-1.944009,...,0.289755,-0.276469,0.674281,1.077837,0.495116,-0.560726,0.442056,0.553202,-0.338308,0.016804
3,10000,-3.244685,-1.256611,-1.768722,2.788105,2.421032,0.288372,-1.305222,0.321078,0.857259,...,0.406900,0.364290,-0.656253,-1.027431,-0.039209,0.539736,0.081990,1.371986,0.919015,-0.742735
4,10003,-1.026348,-1.771378,0.555552,-0.084054,0.778550,-2.426311,-3.010407,1.409985,-0.657939,...,0.425355,-0.761718,0.765218,-0.237232,-0.479089,-0.274400,-1.450904,0.010418,0.894968,0.124392

# export preprocessed result to df.

In [16]:
# load data
anime_df = pd.read_csv('dataset/processed_dataset/preprocessing/anime_preproc_s2.csv')
anime_df.head()

,anime_id,score,rating_count,ranked,popularity,members,type,studio,episode_count,Action,...,90,91,92,93,94,95,96,97,98,99
0,1,0.960483,0.341453,0.001762,0.001828,0.472131,4,743,0.008505,1,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.270343,0.000000,0.000000
1,5,0.919868,0.077942,0.008438,0.024833,0.096935,0,103,0.000327,1,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
2,6,0.902305,0.132747,0.014975,0.010461,0.191726,4,399,0.008505,1,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
3,7,0.795829,0.016483,0.126895,0.073309,0.030338,4,743,0.008505,1,...,0.0,0.0,0.0,0.0,0.0,0.321865,0.0,0.000000,0.000000,0.000000
4,8,0.762898,0.002469,0.193472,0.211081,0.004085,4,789,0.017010,0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.226734,0.432943

In [17]:
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23765 entries, 0 to 23764
Columns: 185 entries, anime_id to 99
dtypes: float64(106), int64(79)
memory usage: 33.5 MB

In [18]:
anime_df = pd.merge(anime_df, img_df, left_on='anime_id', right_on='anime_id', how='left')

In [19]:
anime_df.head()

,anime_id,score,rating_count,ranked,popularity,members,type,studio,episode_count,Action,...,90,91,92,93,94,95,96,97,98,99
0,1,0.960483,0.341453,0.001762,0.001828,0.472131,4,743,0.008505,1,...,0.651036,-0.428850,-0.586569,0.925560,-1.964622,-0.970371,0.213366,-0.520931,-0.896485,-0.269872
1,5,0.919868,0.077942,0.008438,0.024833,0.096935,0,103,0.000327,1,...,0.415283,-0.667962,-0.336572,-0.621967,-0.980100,0.984162,-0.323787,-0.617287,0.246279,0.026887
2,6,0.902305,0.132747,0.014975,0.010461,0.191726,4,399,0.008505,1,...,-0.019047,1.004433,0.182018,0.758380,-0.228489,-0.749997,-0.369441,-0.575525,0.350506,-0.365582
3,7,0.795829,0.016483,0.126895,0.073309,0.030338,4,743,0.008505,1,...,-0.399502,-0.634783,-0.173630,-1.301357,-1.971902,-0.923313,-0.178119,0.928507,-0.047225,-0.441551
4,8,0.762898,0.002469,0.193472,0.211081,0.004085,4,789,0.017010,0,...,1.143057,0.230385,-1.280372,0.143960,-1.881959,0.276391,-1.020196,0.346704,1.946555,1.285465

In [16]:
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23765 entries, 0 to 23764
Columns: 285 entries, anime_id to 99
dtypes: float32(100), float64(106), int64(79)
memory usage: 42.6 MB

In [20]:
anime_df.count()

anime_id        23765
score           23765
rating_count    23765
ranked          23765
popularity      23765
                ...
95              23759
96              23759
97              23759
98              23759
99              23759
Length: 285, dtype: int64

In [21]:
anime_df.fillna(0, inplace=True)

In [22]:
anime_df.count()

anime_id        23765
score           23765
rating_count    23765
ranked          23765
popularity      23765
                ...
95              23765
96              23765
97              23765
98              23765
99              23765
Length: 285, dtype: int64

In [23]:
anime_df.to_csv('dataset/processed_dataset/preprocessing/anime_preproc_s3.csv', index=False)

In [24]:
anime_df.to_csv('dataset/processed_dataset/anime.csv', index=False)