# ANIME RECOMMENDER SYSTEM - MERGE ANIME & RATING DF - PIVOT TABLE - IMG WITHOUT PCA

In [1]:
# basic library
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import itertools
import collections
import pickle

In [2]:
# load data
anime_df = pd.read_csv('dataset/processed_dataset/anime_1.csv')
anime_df.head(10)

,anime_id,score,rating_count,ranked,popularity,members,type,studio,episode_count,Action,...,502,503,504,505,506,507,508,509,510,511
0,1,0.960483,0.341453,0.001762,0.001828,0.472131,4,743,0.008505,1,...,0.438080,2.004967,1.096418,0.794766,0.692048,0.835952,0.169222,0.374115,0.411325,0.242930
1,5,0.919868,0.077942,0.008438,0.024833,0.096935,0,103,0.000327,1,...,0.092409,1.105983,1.107349,1.267389,0.033961,0.457794,0.066034,0.322212,0.003296,1.037770
2,6,0.902305,0.132747,0.014975,0.010461,0.191726,4,399,0.008505,1,...,0.422814,0.752725,0.643432,0.547971,0.928582,0.989961,0.965904,1.369410,0.675523,0.867264
3,7,0.795829,0.016483,0.126895,0.073309,0.030338,4,743,0.008505,1,...,0.278859,3.375272,1.253972,0.787293,0.305903,2.337548,0.727336,0.202283,0.786130,0.281763
4,8,0.762898,0.002469,0.193472,0.211081,0.004085,4,789,0.017010,0,...,0.330976,0.964262,1.359101,0.636112,0.578307,0.239377,0.524474,2.517156,0.042703,0.472978
5,15,0.869374,0.033157,0.031851,0.050814,0.048334,4,252,0.047432,0,...,0.449628,0.681431,1.698364,1.203866,0.415553,0.745271,1.539405,1.215960,0.022622,0.388801
6,16,0.879254,0.031420,0.026241,0.034953,0.070674,4,315,0.007851,0,...,0.423157,0.998903,1.738352,2.183667,0.144615,0.587899,2.124281,1.617267,0.179868,0.737346
7,17,0.828760,0.004970,0.070842,0.173449,0.006559,4,453,0.017010,0,...,0.435785,0.780214,1.538505,1.535743,1.194069,0.740288,1.013357,1.116396,0.154864,1.776239
8,18,0.894621,0.036159,0.018638,0.053451,0.045360,4,10,0.007851,1,...,0.857520,0.662640,0.471584,0.385534,0.128586,0.660124,0.468114,0.727302,0.364793,0.470232
9,19,0.971460,0.128994,0.001066,0.006336,0.256578,4,399,0.024207,0,...,1.071840,1.130336,0.800616,0.320635,0.274877,0.746804,1.661963,0.182265,0.138011,1.253728

In [3]:
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23765 entries, 0 to 23764
Columns: 697 entries, anime_id to 511
dtypes: float64(618), int64(79)
memory usage: 126.4 MB

In [4]:
# load data
rating_df = pd.read_csv('dataset/processed_dataset/rating.csv')
rating_df.head()

   user_id     score  num_watched_episodes  created_at  updated_at  anime_id
0        2  0.333333                   0.0    0.955898    0.955868     51478
1        2  0.333333                   0.0    0.489645    0.489585     20707
2        2  0.444444                   0.0    0.320126    0.405519      6408
3        2  0.444444                   0.0    0.780366    0.780325     38045
4        2  0.555556                   0.0    0.925591    0.925560     49668

In [5]:
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1488975 entries, 0 to 1488974
Data columns (total 6 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   user_id               1488975 non-null  int64
 1   score                 1488975 non-null  float64
 2   num_watched_episodes  1488975 non-null  float64
 3   created_at            1488975 non-null  float64
 4   updated_at            1488975 non-null  float64
 5   anime_id              1488975 non-null  int64
dtypes: float64(4), int64(2)
memory usage: 68.2 MB

create dummy rating

print avg to create dummy rating

In [6]:
# print average
def printAvg(df, col):
    print("Average: " + str(df[col].mean()))

In [7]:
printAvg(rating_df, 'score')
printAvg(rating_df, 'num_watched_episodes')
printAvg(rating_df, 'created_at')
printAvg(rating_df, 'updated_at')

Average: 0.742121332534872
Average: 0.0018910113034507044
Average: 0.3647528483821663
Average: 0.4179710567586606

In [8]:
list_user_id = []
list_score = []
list_num_watched_episodes = []
list_created_at = []
list_updated_at = []
list_anime_id = []

In [9]:
for i, row in anime_df.iterrows():
    list_user_id.append(1)
    list_score.append(0.742121)
    list_num_watched_episodes.append(0)
    list_created_at.append(0.364752)
    list_updated_at.append(0.417971)
    list_anime_id.append(row.anime_id)

In [10]:
list_tuples = list(zip(list_user_id, list_score, list_num_watched_episodes, list_created_at, list_updated_at, list_anime_id))

In [11]:
rating_dummy = pd.DataFrame(list_tuples, columns=['user_id', 'score', 'num_watched_episodes', 'created_at', 'updated_at', 'anime_id'])

In [12]:
rating_dummy.head()

   user_id     score  num_watched_episodes  created_at  updated_at  anime_id
0        1  0.742121                     0    0.364752    0.417971       1.0
1        1  0.742121                     0    0.364752    0.417971       5.0
2        1  0.742121                     0    0.364752    0.417971       6.0
3        1  0.742121                     0    0.364752    0.417971       7.0
4        1  0.742121                     0    0.364752    0.417971       8.0

In [13]:
rating_df = rating_df.append(rating_dummy)

In [14]:
rating_df.rename(columns = {'score':'user_score'}, inplace = True)

In [15]:
merge_df = pd.merge(rating_df, anime_df, how='left')
merge_df.head()

,user_id,user_score,num_watched_episodes,created_at,updated_at,anime_id,score,rating_count,ranked,popularity,...,502,503,504,505,506,507,508,509,510,511
0,2,0.333333,0.0,0.955898,0.955868,51478.0,0.657519,0.000078,0.433446,0.659523,...,1.790615,0.628484,1.502492,0.154643,0.855820,1.274339,1.026701,0.987614,0.238518,1.264890
1,2,0.333333,0.0,0.489645,0.489585,20707.0,0.510428,0.000886,0.606797,0.359825,...,0.655310,0.682378,0.543533,0.523717,0.216606,1.594749,1.829434,0.983547,0.093417,0.787535
2,2,0.444444,0.0,0.320126,0.405519,6408.0,0.806806,0.010543,0.104873,0.101118,...,1.131299,0.945278,2.368046,0.249318,0.051252,0.248071,0.510945,1.086540,0.183325,0.343252
3,2,0.444444,0.0,0.780366,0.780325,38045.0,0.521405,0.000117,0.602439,0.582302,...,0.847514,1.016593,0.533539,1.060121,0.139066,0.740409,0.652491,0.212063,0.229753,0.050785
4,2,0.555556,0.0,0.925591,0.925560,49668.0,0.665203,0.000067,0.417080,0.667900,...,0.762044,0.525651,0.303044,0.147265,0.073242,1.361317,1.281172,0.480912,1.035871,0.186106

In [16]:
merge_df.count()

user_id                 1512740
user_score              1512740
num_watched_episodes    1512740
created_at              1512740
updated_at              1512740
                         ...
507                     1512740
508                     1512740
509                     1512740
510                     1512740
511                     1512740
Length: 702, dtype: int64

In [17]:
pivot_tab = rating_df.pivot_table(index=['user_id'], columns=['anime_id'], values='user_score').fillna(0)
pivot_tab.head()

anime_id,1.0,5.0,6.0,7.0,8.0,15.0,16.0,17.0,18.0,19.0,...,53798.0,53799.0,53800.0,53801.0,53802.0,53803.0,53804.0,53805.0,53806.0,53807.0
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,...,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,1.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,1.000000,0.000000,0.777778,0.000000,0.000000,0.000000,0.000000,0.000000,0.777778,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [18]:
merge_df.to_csv('dataset/processed_dataset/merged_1.csv', index=False)

In [ ]:
with open('./dataset/processed_dataset/pivot_tab_1.pkl','wb') as f:
    pickle.dump(pivot_tab, f)